.d-flex{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button{
  border:none;
  color:#fff;
  background-color:#2d3a4b;
  padding:1.25rem;
  border-radius:1rem;
  font-size:1.25rem;
  letter-spacing:1.2px;
  cursor:pointer;
}

.mark p{
  color:#fff;
  background-color:#FFAD33;
  border-radius:2.5px;
  vertical-align:center;
}
table{
  width:100%;
  border-collapse:collapse;
  color:#2d3a4b;
  margin-top:1rem;
}
table th{
  background-color:#2d3a4b;
  color:#fff;
}
table td,table th{
  padding:8px;
  text-align:center;
}
.current{
  background-color:#1cc06d;
  color:#fff;
}
#result{
  font-size: 1.7rem;
  font-weight: 600;
  font-family: cursive;
}
.player1-result{
  color: #1cc06d;
}
.player2-result{
color: #FFAD33;
}